<!DOCTYPE html>
<html>
<head>
    <title>Список пользователей</title>
</head>
<body>
    <h1>Привет, {{.Username}}!</h1> 
    <h1>Список пользователей</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Имя пользователя</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Статус</th>
        </tr>
        {{range .Users}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Username}}</td>
            <td>{{.Name}}</td>
            <td>{{.Surname}}</td>
            <td>{{.Patronymic}}</td>
            <td>{{.Status}}</td>
        </tr>
        {{end}}
    </table>
    <form action="/logout" method="post">
        <button type="submit">Выйти</button>
    </form>
</body>
</html>
